.intro {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.norm {
    font-family: "Lucida Console", "Courier New", monospace;
}

div {
    word-wrap: break-word;
}