.intro {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.norm {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    word-wrap: break-word;
    text-align: center;
    margin: 7vw;
    border : 2px, solid;
}

img {
    float: right;
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.n1 {
    float: left;
}

body{
    background-color: antiquewhite;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    background-color: rgb(191, 178, 162);
    border:rgb(255, 230, 199), solid, 2px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    margin: 0px, auto;
    margin-left: 10vw;
    margin-right: 10vw;
}
a:link{
    color:rgb(86, 86, 86);
}
a:visited{
    color:rgb(53, 53, 53);
}

h3 {
    font-size: 30px;
    text-decoration: dotted;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

@media (max-width: 600px) {
    h1 {
        background-color: rgb(162, 170, 191);
        border:rgb(85, 108, 149), solid, 2px;
    }
    body {
        background-color: rgb(208, 236, 245);
    }
    p {
        font-size: 20px;
    }
    div {
        margin: 15vw;
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: rgb(191, 162, 162);
        border:rgb(149, 85, 85), solid, 2px;
    }
    body {
        background-color: rgb(245, 208, 208);
    }
}

@media (orientation: portrait) {
    h1 {
        background-color: rgb(190, 162, 191);
        border:rgb(149, 85, 149), solid, 2px;
    }
    body {
        background-color: rgb(245, 208, 243);
    }
}
